<app-header></app-header>
<div class="container">
    <app-login-page *ngIf="!isAuth()"></app-login-page>
    <div *ngIf="isAuth()">
        <app-breadcrumbs></app-breadcrumbs>
        <app-toolbar 
            (onSearch)="search($event)"
            (onAddCourse)="onAddCourseClick()"></app-toolbar>
        <app-course-list [courses]="coursesFiltered"></app-course-list>
        <app-add-course-page *ngIf="isAddCoursePageOpened"></app-add-course-page>
        <app-load-more></app-load-more>
    </div>
</div>
<app-footer></app-footer>